* {
  margin: 0 0 0 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  height: 100%;
}

header {
  display: flex;
  background-color: #581e85;
  align-items: last baseline;
  color: white;
  padding-bottom: 15px;
}

header img {
  border-radius: 8px;
  height: 100px;
  width: 100px;
  margin: 15px 10px 0px 15px;
}

header p {
  font-style: italic;
}

main {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

nav {
  display: flex;
  background-color: #e9def2;
  justify-content: flex-end;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 14%;
  padding-top: 15px;
}

nav ul {
  list-style-type: none;
}

nav li {
  justify-self: end;
  margin-bottom: 10px;
  margin-right: 10px;
}

content {
  margin: 10px 10px 10px 10px;
  height: 100%;
}

#projects{
  display: flex;
  justify-content: space-evenly;
}
.card {
  display: inline;
  height: 100px;
  width: 100px;
  border: 1px solid #581e85;
}
