* {
  margin: 0 0 0 0;
}
html{
  height: 100vh;
}
body {
  font-family: Consolas, 'Courier New', Courier, monospace;
  min-height: 100vh;
}

h1 {
  font-weight: bold;
}

h2 {
  color: #581e85;
  margin-top: 20px;
  width: 100%;
}

h3 {
  width: 100%;
  margin-bottom: 20px;
  font-weight: bolder;
}

header {
  display: flex;
  background-color: #581e85;
  align-items: last baseline;
  color: white;
  padding-bottom: 15px;
}

header img {
  border-radius: 8px;
  height: 100px;
  width: 100px;
  margin: 15px 10px 0px 15px;
}


main {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

nav {
  display: flex;
  background-color: #e9def2;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav a {
  margin-left: 10px;
  margin-right: 10px;
}

content {
  margin-left: 20px;
  height: 100%;
  width: 100%;
  margin-right: 20px;
  /* flex-wrap: wrap; */
}

content p{
  margin-top: 15px;
  margin-bottom: 15px;
  /* font-family:; */
}

content section {
    margin-bottom: 40px;
}

#projects article{
  display: block; 
  justify-content:flex-start;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
}

#project2, #project3 {
  display: flex;
  margin-left: 20px;
}

#project2 {
  margin-bottom: 0px;
}

.card {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 25%;
  flex-wrap: wrap;
}

.card img {
  display: inline;
  height: 200px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px lightgrey;
  border: 1px solid #581e85;
}

.card container {
  display: flex;
  justify-items: flex-start; 
  margin-left: 2%;
}

container p {
  margin-left: 2%;
}

#pdd1 {
  position: absolute;
  top: 60%;
  left: 1%;
  /* left: 2px; */
} 

#pdd2 {
  position: absolute;
  top: 160%;
  left: 5%;
}


#project1 p {
  position: absolute;
  left: 250px;
}  



